h2 {
    margin-top: -10px; 
    margin-left: -10px;

}
div img{
    border-radius: 50%;
    width: 300px;
    margin: 50px;
    border: 10px solid rgb(89, 85, 85);  
}
div img {   
}
div {
    background-color: grey;
    margin: -26px;
}
