@import url('https://fonts.googleapis.com/css2?family=Inter&family=Kalam&display=swap');

#content {
    max-width: 1600px;
    margin: -50px;
    margin-left: -170px; 
    
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
}
.logo {
    width: 90px; 
    padding: 20px;
    margin-left: 5px;
    margin-top: -135px;
}
header {
    width: 1550px;
    margin: 0;
    padding: 0;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 40px;
    font-family: Inter, Helvetica, sans-serif;
}
nav {
    display: flex;
    justify-content: space-around;
}
#home h1 /* sugar beam heading */ {
    text-align: left;
    margin-left: 30px;
}
#Laser_homepage /*main page pic*/{
    width: 1550px;
    border-radius: 20px;
    border-style: solid;
    border-color: #aa2424; 
}
#h-p1 /*main body text*/ {
    grid-column: 1/7;
    margin-right: -130px;
    margin-top: 40px;
    padding: 40px;
    background-color: #aabd8c;
    font-size: 25px; 
    border-radius: 20px;
    border-style: solid;
    border-color: #aa2424;
}
.h-pic2 /*second pic on main page*/ {
    grid-column: 1/5;
    grid-row: 2;
    height: 500px;
    margin-top: 40px;
    margin-right: 45px;
    border-radius: 20px;
    border-style: solid;
    border-color: #aa2424;
}
.h-msg /*albert saying*/ {
    grid-column: 5/7;
    grid-row: 2;
    text-align: right;
    margin-top: 120px;
    margin-right: -70px;
    font-size: 30px;  
}
footer {
    background-color: #aabd8c;
    font-family: Inter, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1550px;
}
footer a {
    color: #aa2424;
    text-decoration: none;
}
footer a:hover {
    background-color: #aabd8c; 
}
footer p a:hover {
    font-size: 1.2em;
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px; 
}

/*Getting Started, Second Page*/

#GT-content {
    max-width: 1600px;
    margin: -50px;
    margin-left: -170px;  
}
#head {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}
.PName /*name of page*/ {
    text-align: start;
    margin-left: 30px;
}
#GT-head /* top text*/ {
    grid-column: 1/5;
    /*border-radius: 20px;
    border-style: solid;
    border-color: #aa2424;*/
    padding: 40px;
    width: 100%;
}
#GT-head h2 /*top text*/ {
    color: #aa2424;
}
.GT {
    display: inline-grid;
    grid-template-columns: auto auto auto ;
    
}
#GT-1 /*Types pic*/ {
    grid-column: 6/9;
    max-width: 600px;
    margin-bottom: 20px;
    margin-left: -25px;
    border-radius: 20px;
    border-style: solid;
    border-color: #aa2424;
}
.GT-pic1 /* Diode pic*/ {
    max-width: 500px;
    margin-bottom: 20px;
}
.GT-msg1 /* Diode text */ {
    grid-column: 2;
    text-align: left;
    background-color: #aabd8c;
    border-radius: 20px;
    border-style: solid;
    border-color: #aa2424;
    width: 700px;
    height: 350px;
    margin-inline-end: -100px;
    margin-top: 50px;  
}
.GT-msg1 h2 /* Diode Laser Header*/ {
    text-align: left;
    margin-left: 20px;
}
.GT-msg2 /* CO2 text*/ {
    grid-column: 1;
    text-align: left;
    margin-left: 40px;
    background-color: #aabd8c;
    margin-bottom: 20px;
    border-radius: 20px;
    border-style: solid;
    border-color: #aa2424;
}
.GT-msg2 h2 /* CO2 header*/ {
    text-align: left;
    margin-left: 20px;
}
.GT-pic2 /*CO2 pic */ {
    grid-column: 2/4;
    max-width: 600px;
    margin-left: 50px;
}
.GT-pic3 /*Fiber pic*/ {
    max-width: 600px;
    max-height: 400px;
    margin-bottom: 20px;
}
.GT-msg3 /* Fiber text */ {
    text-align: left;
    margin-left: 60px;
    margin-top: 50px;
    height: 215px;
    background-color: #aabd8c;
    border-radius: 20px;
    border-style: solid;
    border-color: #aa2424;   
}
.GT-msg3 h2 {
    text-align: left;
    margin-left: 20px;
}

/* Third Page-Events */

    .events {
        display: grid;
        grid-template-columns: 3fr auto;
    }
    #E-head h1 /*Name page*/ {
        text-align: left;
        margin-left: 30px;
    }
    .E-msg1 /*top text*/ {
        grid-column: 1/6;
        grid-row: 1;
        width: 1580px;
        font-size: 22px;
        background-color: #aabd8c;
        border-radius: 20px;
        border-style: solid;
        border-color: #aa2424; 
    }
    .E-pic1 /* First pic*/ {
        grid-column: 1/6;
        grid-row: 2;
        width: 1550px;
        padding-top: 30px;
    }
    .E-pic2 /*second pic*/ {
        grid-column: 1/6;
        grid-row: 5;
        width: 1550px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    hr /*the line*/ {
        grid-column: 1/6;
        grid-row: 3;  
    }
    .faq /*All of the questions*/ {
        text-align: left;
        text-indent: 10px;
        background-color: #aabd8c;
        border-radius: 20px;
        border-style: solid;
        border-color: #aa2424;
        width: 1550px;

    }
    .E-Q1 h2 /*heading name for FAQ*/ {
        text-align: left;
        margin-left: 20px;
      

    }

@media screen and (max-width: 900px) {
   
    .home-grid, GT {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
        margin-left: 90px;
    }
    header {
        width: 550px;
  
    }
    #home h1 /*sugar beam heading*/ {
        margin-top: 60px;
        margin-left: 230px;
    }
    .logo {
        margin-top: -200px;
        margin-left: 100px;
    }
    #Laser_homepage /* main head pic*/ {
        max-width: 550px;
    }
    #h-p1 /*main text*/ {
        margin-left: 65px;
        max-width: 77%; 
      
    }
    .h-pic2 /* second pic main pg*/ {
        padding: 7px;
        max-width: 77%;
        margin-left: 110px;
    }
    .h-msg /*albert msg*/ {
        width: 60%;
        margin-left: 180px;
        margin-top: 50px; 
    }
    footer {
        margin-top: 25px;
        max-width: 550px;
        
    }

    /* Getting Started */

    /*#GT-content {
        max-width: 900px;
        min-width: 200px;
        display: block;
        height: auto;
    }*/

    .GT {
        display: block;
        max-width: 550px;
    }
    #head {
        display: block;
        max-width: 550px;
    }
    .PName {
        margin-left: 200px;
        margin-top: 70px;
    }
    #GT-head /*Top Text */{
        width: 400px;
        margin-left: 75px;
    }
    #GT-1 {
        width: 425px;
        margin-left: 110px;
    }
    .GT-pic1 {
        width: 425px;
        margin-left: 110px ;
    }
    .GT-msg1 {
        width: 425px;
        margin: 110px;
        height: 430px;
    }
    .GT-msg2{
        width: 425px;
        height: 410px;
        margin-left: 110px;
        margin-top: -70px; 
    }
    .GT-pic2 {
        width: 425px;
        margin-left: 110px;
    }
    .GT-pic3 {
        width: 425px;
        margin-left: 110px;
    }
    .GT-msg3 {
        width: 425px;
        height: 280px;
        margin-left: 110px;
    }

    


}
